body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0fb;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0;
}



.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    /* height: 1000px; */
}


.container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc8c;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}



.container button {
    background-color:#4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.container button:hover {
    background-color: #0f3b6d;
}


